// sass 註解
/*css 註解*/
//base
@import 'base/var';
@import 'base/color';
@import 'base/font';

// mixin
@import 'mixin/all';

// plugin 
// @import '../node_modules/bootstrap/scss/bootstrap';

//組件
@import 'component/btn';
@import 'component/grid';

// layout
@import 'layout/cart';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/login';
@import 'layout/nav';
@import 'layout/title';
@import 'layout/body';

// page
@import 'page/index';
@import 'page/about';

// @import 'page/var';

.a {
   padding: $a;
}

.img_bg {
   background-image: url('./#{$file}/b.jpg');
}

#{$class} {
   background-color: #fff;
}


//運算

.xxoo {
   width: 10 + 20px;
   height: 100px - 1px;
   max-width: 100px * 10;
   // font:  (100 / 20) + px ; 
}

// 判斷式
$font : thin;

.if {
   @if $font=='bold' {
      font-weight: 900;
   }

   @else if $font=='medium' {
      font-weight: 400;
   }

   @else if $font=='thin' {
      font-weight: 100;
   }
}

// .text {
//    // color : darken(#fff, 100);
//    // color : lighten(#000, 100);
// }


// each
//$img : ad1 ad2 ad3 about product; // list 


$title : (
 //key : value,
  h1 : 45,
  h2 : 40,
  h3 : 36,
  h4 : 30,
  h5 : 24,
);  // map 


$bgColor : (
   Primary : #58f9ff,
   secondary : #333,
   error : rgb(250, 56, 26),
   success : #9aff91 ,
   warning : #f4ed6a
);

@each $k , $v in $bgColor {
    .#{$k} {
       background-color: $v;
    }
}



@mixin title($title){
   @each $k , $v in $title {
      #{$k} {
         font-size: $v + px;
         color : #333;
         font-weight: 100;
      }
    }
}

@include title($title)








