// sass 註解
/*css 註解*/

//變數
$fontSize : 20px; //數值
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //字串

$color : #333; //color 
$margin : 10px 20px; // list
// $padding : null; // null

.box_default {
   @if $color {
      // true
      color: $color
   }

   @else {
      color: null
   }

   width: 100px;
   height: 100px;
}

// map 
$map : (key : value,
   h1 : 40px,
   h2 : 36px,
   h3 : 30px);

h1 {
   font-size: map-get($map, h3); // map 取值
}



//變數作用域

$a : 60px;
$a : 30px !default;

.a {
   padding: $a;
}

// 變數轉型 
$file : 'images';

.img_bg {
   background-image: url('./#{$file}/b.jpg');
}

$class : '.fgw';

#{$class} {
   background-color: #fff;
}


//nesting


.wrapper_fixed {
   width: 100%;
   max-width: 1366px;

   header {
      margin: 10px auto;
      height: 120px;

      nav {
         ul {
            list-style: none;
            display: flex;

            li {
               min-width: 120px;
               padding: 10px 20px;
               background-color: #333;
               color: aliceblue;
            }
         }

      }
   }




}



























body {
   //$margin : 0px; //區域變數
   margin: $margin;
   padding: null; // null 屬性被刪出
   color: $color;
   font-size: $fontSize;
   font-family: $fontFamily;
   background-color: #fee594;
}

h1 {
   font-size: 40px;
   //   margin: $margin; //取不到區域變數值
}