body {
    //$margin : 0px; //區域變數
    margin: $margin;
    padding: null; // null 屬性被刪出
    color: $color;
    font-size: $fontSize;
    font-family: $fontFamily;
    background-color: $bodyBgColor;
    h1 {
        font-size: 50px;
        @include t(){
           font-size: 36px;
           color: #f20;
         }
        @include m(){
           font-size: 60px;
           color: #19cef6

        } 
    }
 }

.wrapper {
  //桌機
  @include layout(1200);
  // 平板
  @include t(){
    @include layout(800);
  }
  
  //手機 

  @include m(){
    @include layout(100);
  }
   

  // @if $layoutWidth == 100 {
  //   width: 100%;
  // }@else {
  //   width: 100%;
  //   max-width: $layoutWidth;
  //   margin: auto;
  // }
 }




 .container {
   padding-top: 100px;

   section {
      @include layout(1920){
       height: 400px

      };
      background-color: #fea3a3;
   }



 }

 @include m(){
 



 }