body {
    //$margin : 0px; //區域變數
    margin: $margin;
    padding: null; // null 屬性被刪出
    color: $color;
    font-size: $fontSize;
    font-family: $fontFamily;
    background-color: $bodyBgColor;
 }

.wrapper {
  @include layout(100);
  // @if $layoutWidth == 100 {
  //   width: 100%;
  // }@else {
  //   width: 100%;
  //   max-width: $layoutWidth;
  //   margin: auto;
  // }
 }




 .container {
   padding-top: 100px;

   section {
      @include layout(1920);
      background-color: #fea3a3;
   }



 }