body {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;

    .wrapper {
        width: 100%;
        header {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            nav {
                width: 100%;
                ul {
                  list-style: none;  
                  display: flex;
                    li {
                        padding: 10px 20px;
                        text-align: center;
                        width: 120px;
                        background-color: #fd8a8a;
                    }
                }


            }

        }


    }

}