$bodyBgColor : #ae91fe;
$color : #333;
$linkColor : #fff;
$btnTextColor : #fff;

$bg : #333;
$colbg : #fdf1ad;

$bgColor : (
   Primary : #58f9ff,
   secondary : #333,
   error : rgb(250, 56, 26),
   success : #9aff91 ,
   warning : #f4ed6a
);






