//變數


$color : #333; //color 
$margin : 10px 20px; // list
// $padding : null; // null

.box_default {
   @if $color {
      // true
      color: $color
   }

   @else {
      color: null
   }

   width: 100px;
   height: 100px;
}

// map 
$map : (key : value,
   h1 : 40px,
   h2 : 36px,
   h3 : 30px);


   //變數作用域

$a : 60px;
$a : 30px !default;

$class : '.fgw';

// 變數轉型 
$file : 'images';

//斷點變數
$desktop : 1200px;
$medium : 996px;
$small : 576px;


// layout
//如果是滿版100 / 固定寬 1200px

$layoutWidth :1400px ;



